<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>I Always Wanted To Be...</title>
    <meta name="description" content="tell us what you wanted to be, and then explore what other people have said. ©2014 Natalie Sun / Jake Kahana">
    <link href='http://fonts.googleapis.com/css?family=Gravitas+One|Text+Me+One' rel='stylesheet' type='text/css'>



</head>

<body>
  {{> form}}
  {{> slideshow}}
  {{> footer}}
</body>

<template name="form">
	<div id="form" class="rounded">
		<p class="tobe">I always wanted to be...</p>
		
    <input id="formword" type="text" placeholder="tell me tell me tell me" 
            maxlength="15" class="rounded">
    </input>

    
    <p class="because">because</p>

		<textarea id="formdescription" type="text" maxlength="200" 
              placeholder="why?" class="rounded">
    </textarea>

    
    <a id="submit" href="#" class="rounded">
      Submit
    </a>
    
    <a id="skip" href="#" class="rounded skip">
      Skip
    </a>
	</div>
</template>

<!--  style="background: {{newbg}}"> -->


<template name="slideshow">
        
        <a id="nextslide" href="#">Next Slide</a>


    </div>

</template>

<template name="footer">
  <div id="aboutpopup">
      A website about reliving your childhood and seeing what we all wish we’d be.
      <br />
    <span class="credits">Another site created by 
        <a href="http:/www.jakekahana.com" target="_blank">
          Jake Kahana
        </a> 
        and 
        <a href="http://www.onattyso.com" target="_blank"> 
          Natalie Sun
        </a>
    </span>.
  </div>
  <div id="footer">
    <a href="#">
      <h6 id="abouttype">about</h6>
    </a>
  </div>
</template>
